body{
    background:#3f51b5;
   letter-spacing: 0.1em;
}

.container{
    max-width: 500px;
}
.heading{
    color: #e3f2fd;
}
.label{
    color: #fff;
}
.search{
   border-bottom-left-radius: 1rem;
   border-top-right-radius:1rem;
}